params.threads = 16

params.python = "python"
params.usearch = "$HOME/bin/usearch"
params.mafft = "/usr/local/bin/mafft"
params.script_dir = "$HOME/projects/flea-pipeline/flea"
params.hyphy_dir = "$HOME/projects/flea-pipeline/hyphy_scripts"
params.bealign = "/opt/python-3.4.3/bin/bealign"
params.bam2msa = "/opt/python-3.4.3/bin/bam2msa"
params.hyphy = "LD_LIBRARY_PATH=/opt/gcc/6.1.0/lib64:$LD_LIBRARY_PATH $HOME/bin/HYPHYMP"
params.fasttree = "/usr/local/bin/FastTree"

params.julia = "$HOME/bin/julia"
params.consensus_script = "$HOME/projects/Rifraf.jl/scripts/rifraf.jl"

params.reference_dir = "$HOME/flea/references"
params.reference_dna = "${params.reference_dir}/HXB2_env.fasta"
params.reference_protein = "${params.reference_dir}/HXB2_env.translated.fasta"
params.reference_coordinates = "${params.reference_dir}/HXB2_env.coordinates.txt"
params.reference_db = "${params.reference_dir}/LANLsubtypeRef.fasta"
params.contaminants_db = "${params.reference_dir}/ContaminantRef.fasta"

params.qmax = 55
params.max_error_rate = 0.01
params.max_accepts = 300
params.max_rejects = 600
params.run_length = 16
params.contaminant_identity = 0.98
params.reference_identity = 0.7

// TODO: do not hardcode
params.min_length = 2300
params.max_length = 2700

params.cluster_identity = 0.99
params.max_accepts = 300
params.max_rejects = 600
params.min_length_ratio = 0.995

params.min_cluster_size = 3
params.max_cluster_size = 100
params.min_n_clusters = 3

params.copynumber_identity = 0.95
params.cn_max_length_ratio = 1.005


// diagnosis parameters
params.qcs_to_hqcs_identity = 0.95
params.max_qcs_length_ratio = 1.005

