params.threads = 16

params.python = "python"
params.usearch = "$HOME/bin/usearch"
params.script_dir = "$HOME/projects/flea-pipeline/flea_pipeline"

params.reference_dir = "$HOME/flea/references"
params.reference_dna = "${params.reference_dir}/HXB2_env.fasta"
params.reference_protein = "${params.reference_dir}/HXB2_env.translated.fasta"
params.reference_coordinates = "${params.reference_dir}/HXB2_env.coordinates.txt"
params.reference_db = "${params.reference_dir}/LANLsubtypeRef.fasta"
params.contaminants_db = "${params.reference_dir}/ContaminantRef.fasta"

params.qmax = 55
params.max_error_rate = 0.01
params.max_accepts = 300
params.max_rejects = 600
params.run_length = 16
params.contaminant_identity = 0.98
params.reference_identity = 0.7

params.min_len = 2300
params.max_len = 2700
