params.cpus = 1

process.time = '1h'
params.slow_time = '3h'
params.crazy_time = '12h'

params.module_script = 'source /etc/profile.d/modules.sh'
params.modules = 'openmpi/gnu/1.6.3'

// binary paths
params.python = "$HOME/.pyenv/versions/flea/bin/python"
params.parallel = "/usr/local/bin/parallel"
params.usearch = "$HOME/bin/usearch"
params.mafft = "/usr/local/bin/mafft"
params.bealign = "$HOME/.pyenv/versions/flea/bin/bealign.py"
params.bam2msa = "$HOME/.pyenv/versions/flea/bin/bam2msa.py"
params.fasttree = "/usr/local/bin/FastTree"
params.tn93 = "LD_LIBRARY_PATH=/opt/gcc/6.1.0/lib64:$LD_LIBRARY_PATH $HOME/bin/tn93"
params.hyphy = "LD_LIBRARY_PATH=/opt/gcc/6.1.0/lib64:$LD_LIBRARY_PATH $HOME/bin/HYPHYMP"
// by default do not use MPI. Override this if it is available.
params.hyphympi = params.hyphy

// script directories
params.script_dir = "$HOME/projects/flea-pipeline/flea"
params.hyphy_dir = "$HOME/projects/flea-pipeline/hyphy_scripts"

// reference and db paths
params.reference_dir = "$HOME/flea/references"
params.reference_dna = "${params.reference_dir}/HXB2_env.fasta"
params.reference_protein = "${params.reference_dir}/HXB2_env.translated.fasta"
params.reference_coordinates = "${params.reference_dir}/HXB2_env.coordinates.txt"
params.reference_db = "${params.reference_dir}/LANLsubtypeRef.fasta"
params.contaminants_db = "${params.reference_dir}/ContaminantRef.fasta"

// general usearch params
params.max_accepts = 300
params.max_rejects = 600

// quality pipeline
params.qmax = 55
params.max_error_rate = 0.01

params.train_hmm = false
params.train_hmm_max_iters = 16

params.qcs_length_coeff = 0.9
params.run_length = 16
params.contaminant_identity = 0.98
params.reference_identity = 0.7

// consensus pipeline
params.cluster_identity = 0.99
params.min_length_ratio = 0.995
params.min_cluster_size = 3
params.max_cluster_size = 30
params.min_n_clusters = 3
params.do_frame_correction = true
params.copynumber_identity = 0.95
params.copynumber_max_length_ratio = 1.005

// analysis pipeline
params.do_analysis = true
params.tn93_threshold = 0.3
params.do_evo_history = true
params.do_fubar = true

// diagnosis parameters
params.do_diagnosis = false
params.qcs_to_hqcs_identity = 0.95
params.max_qcs_length_ratio = 1.005
