// cluster setup
params.cpus = 16

process.executor = 'pbs'
process.cpus = params.cpus
process.queue = 'fast'
process.$reconstruct_ancestors.queue = 'avx'
process.$region_coords.queue = 'avx'
process.$evo_history.queue = 'avx'
process.$fubar.queue = 'avx'

// env setup
env.LC_ALL = 'en_US.utf-8'
env.LANG = 'en_US.utf-8'

params.module_script = 'source /etc/profile.d/modules.sh'
params.modules = 'openmpi/gnu/1.6.3'

// binary paths
params.python = "$HOME/.pyenv/versions/flea/bin/python"
params.parallel = "/usr/local/bin/parallel"
params.usearch = "$HOME/bin/usearch"
params.mafft = "/usr/local/bin/mafft"
params.bealign = "$HOME/.pyenv/versions/flea/bin/bealign.py"
params.bam2msa = "$HOME/.pyenv/versions/flea/bin/bam2msa.py"
params.fasttree = "/usr/local/bin/FastTree"
params.tn93 = "LD_LIBRARY_PATH=/opt/gcc/6.1.0/lib64:$LD_LIBRARY_PATH $HOME/bin/tn93"
params.hyphy = "LD_LIBRARY_PATH=/opt/gcc/6.1.0/lib64:$LD_LIBRARY_PATH $HOME/bin/HYPHYMP"
// params.hyphympi = "LD_LIBRARY_PATH=/opt/gcc/6.1.0/lib64:$LD_LIBRARY_PATH mpirun -np ${params.cpus} $HOME/bin/HYPHYMPI"
params.hyphympi = params.hyphy

// reference and db paths
params.reference_dir = "$HOME/flea/references"
params.reference_dna = "${params.reference_dir}/HXB2_env.fasta"
params.reference_protein = "${params.reference_dir}/HXB2_env.translated.fasta"
params.reference_coordinates = "${params.reference_dir}/HXB2_env.coordinates.txt"
params.reference_db = "${params.reference_dir}/LANLsubtypeRef.fasta"
params.contaminants_db = "${params.reference_dir}/ContaminantRef.fasta"
