// cluster setup
params.cpus = 16

process.executor = 'pbs'
process.cpus = params.cpus
process.queue = 'fast'
process.$reconstruct_ancestors.queue = 'avx'
process.$region_coords.queue = 'avx'
process.$evo_history.queue = 'avx'
process.$fubar.queue = 'avx'

// set hyphympi
params.hyphympi = "LD_LIBRARY_PATH=/opt/gcc/6.1.0/lib64:$LD_LIBRARY_PATH mpirun -np ${params.cpus} $HOME/bin/HYPHYMPI"

env.LC_ALL = 'en_US.utf-8'
env.LANG = 'en_US.utf-8'
